.Calculadora {
  margin: 0 auto;
  max-width: 300px;
}

.Display {
  text-align: right;
  background-color: black;
  color: aliceblue;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  font-family: monospace;
}

.Butons,
.Numeros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: orange;
}

:is(.Butons, .Numeros) button {
  background: lightgoldenrodyellow;
  flex: 0 0 33%;
  padding: 20px 0;
  cursor: pointer;
}

.Butons {
  background-color: aquamarine;
}
.Butons button {
  background-color: aquamarine;
}

.Numeros button:hover {
  background-color: aliceblue;
}
.Numeros button:active {
  background-color: gray;
}
